# Python

In [1]:
print("hello shravani")

hello shravani

Testing

# Data Types

Numbers

In [2]:
BDA = 20

In [3]:
BDA

20

In [4]:
type(BDA)

int

In [5]:
FCS = 100

In [6]:
FCS - BDA

80

In [7]:
FCS * BDA

2000

In [8]:
FCS / BDA

5.0

In [10]:
FCS + BDA

120

In [11]:
HGF = 10

In [12]:
FCS + BDA + HGF

130

Float

In [13]:
ASW = 10.1

In [14]:
KJC = 20.3

In [15]:
ASW + KJC

30.4

In [16]:
ASW * KJC

205.03

In [17]:
ASW / KJC

0.49753694581280783

STRING

In [18]:
LUNCH = "BIRYANI"

In [19]:
LUNCH[5]

'N'

In [20]:
LUNCH[:4]

'BIRY'

In [21]:
LUNCH[::-1]

'INAYRIB'

In [22]:
LUNCH[1:6]

'IRYAN'

In [24]:
LUNCH[0:7:2]

'BRAI'

In [33]:
CLASS =  "businessdataanalytics"

In [34]:
CLASS

'businessdataanalytics'

In [35]:
CLASS[1:20]

'usinessdataanalytic'

In [36]:
CLASS [::-1]

'scitylanaatadssenisub'

In [37]:
CLASS[::2]

'bsnsdtaayis'

In [38]:
CLASS[::-3]

'staades'

In [39]:
CLASS[::]

'businessdataanalytics'

In [40]:
NAME = "SHRAVANI"

In [41]:
NAME[::]

'SHRAVANI'

In [42]:
NAME[::-1]

'INAVARHS'

In [45]:
NAME[::2]

'SRVN'

LIST

In [50]:
WEEK = ['SUNDAY','MONDAY',1,56,8,["HELLO","SHRAVANI"],True]

In [52]:
WEEK

['SUNDAY', 'MONDAY', 1, 56, 8, ['HELLO', 'SHRAVANI'], True]

In [53]:
WEEK[4]

8

In [54]:
WEEK[5]

['HELLO', 'SHRAVANI']

In [55]:
WEEK.count(1)

2

In [56]:
WEEK.insert(1,4)

In [57]:
WEEK

['SUNDAY', 4, 'MONDAY', 1, 56, 8, ['HELLO', 'SHRAVANI'], True]

In [60]:
WEEK.pop()

True

In [61]:
WEEK

['SUNDAY', 'MONDAY', 1, 56, 8, ['HELLO', 'SHRAVANI']]

DICTIONARIES

In [62]:
anydicts = {"hb":"Vinodh", "Dog": "Panda", "Cat": "Patro","Fish" : "Nidhi"}

In [63]:
type(anydicts)

dict

In [64]:
anydicts.values()

dict_values(['Vinodh', 'Panda', 'Patro', 'Nidhi'])

In [65]:
anydicts.keys()

dict_keys(['hb', 'Dog', 'Cat', 'Fish'])

In [66]:
anydicts.items()

dict_items([('hb', 'Vinodh'), ('Dog', 'Panda'), ('Cat', 'Patro'), ('Fish', 'Nidhi')])

In [67]:
anydicts.update({"hb": "Shravani"})

In [68]:
anydicts.get("hb")

'Shravani'

TUPLES

In [69]:
anyTuple = ("shravani", "vinodh", 14, False, 56.80)

In [70]:
anyTuple.count("vinodh")

1

In [71]:
anyTuple.index(14)

2

SETS

In [72]:
anySet= {"BDA",2,1,2,False}

In [74]:
anySet

{1, 2, 'BDA', False}

BOOLEAN

In [75]:
False

False

In [76]:
True

True

In [77]:
2<5

True

In [78]:
2>5

False

In [79]:
3>3

False

In [80]:
3>2>1

True

# COMPARISION OPERATORS

In [81]:
10==3

False

In [82]:
10==10

True

In [83]:
X = 100

In [89]:
Y = 10

In [91]:
X == Y

False

In [92]:
X != Y

True

In [93]:
X <Y

False

In [94]:
X>Y

True

In [96]:
X>=Y

True

In [97]:
Z = 10

In [98]:
X <=Y

False

In [99]:
X<= Z

False

In [101]:
Y <= Z

True

CHAINED COMPARISION STATEMENT

AND

In [102]:
(40>100) or (100>50)

True

In [103]:
(40>100) and (100>50)

False

In [104]:
not(40>100)

True

# if, elif, else statement

In [105]:
if 40>50:
    print ("First statment was True")
elif 50>90:
    print ("Second statement was True")
else:
    print ("Nothing left hence printing else Block")

Nothing left hence printing else Block